.better-cover {
  position: relative;
  overflow: hidden;

  &__image {
    display: block;
    position: absolute;
    width: auto;
    height: auto;

    &.--fallback {
      position: static;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__focus-zone {
    position: absolute;
  }

  &__target-zone {
    position: absolute;
  }

  &.--debug {
    outline: 2px solid black;

    img {
      opacity: 0.35;
      outline: 2px dotted black;
    }

    &:hover {
      overflow: visible;
    }

    .better-cover__focus-zone {
      outline: 2px solid limegreen;
      background-color: rgba(0, 255, 0, 0.2);
    }

    .better-cover__target-zone {
      outline: 2px dashed red;
      background-color: rgba(255, 0, 0, 0.2);
    }
  }
}
