.better-cover {
  position: relative;

  img {
    display: block;
    position: absolute;
  }

  &__focus-zone {
    position: absolute;
  }

  &__target-zone {
    position: absolute;
  }

  &.--debug {
    border: 2px dotted black;

    .better-cover__focus-zone {
      border: 2px solid limegreen;
      background-color: rgba(0, 255, 0, 0.2);
    }

    .better-cover__target-zone {
      border: 2px dashed red;
      background-color: rgba(255, 0, 0, 0.2);
    }
  }
}
