.better-cover {
  position: relative;
  overflow: hidden;

  &__image {
    display: block;
    position: absolute;
    width: auto;
    height: auto;

    &.--fallback {
      position: static;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__focus-zone {
    position: absolute;
  }

  &__target-zone {
    position: absolute;
  }

  &.--debug {
    border: 2px solid black;
    overflow: visible;

    img {
      opacity: 0.5;
      border: 2px dotted black;
    }

    .better-cover__focus-zone {
      background-color: rgba(0, 255, 0, 0.3);
    }

    .better-cover__target-zone {
      background-color: rgba(255, 0, 0, 0.15);
    }
  }
}
