.better-cover {
  position: relative;
  overflow: hidden;

  &__image {
    display: block;
    position: absolute;

    &.--fallback {
      inset: 0;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__focus-zone {
    position: absolute;
  }

  &__target-zone {
    position: absolute;
  }

  &.--debug {
    img {
      opacity: 0.66;
    }

    &:hover {
      outline: 2px dotted black;
      overflow: visible;

      img {
        opacity: 0.33;
      }
    }

    .better-cover__focus-zone {
      outline: 2px solid limegreen;
      background-color: rgba(0, 255, 0, 0.2);
    }

    .better-cover__target-zone {
      outline: 2px dashed red;
      background-color: rgba(255, 0, 0, 0.2);
    }
  }
}
